.build-eng-efficient {
  text-transform: capitalize;
}

.btn-disable-step {
  background: #c2c2c2 0% 0% no-repeat padding-box;
  color: #013a67;
}

.building-material-form-err {
  font: normal normal 400 12px/22px Poppins;
  letter-spacing: 0.31px;
  color: red;
  display: flex;
  justify-content: end;
  padding-right: 27px;
}
