.left-wrp-main {
  width: 710px;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  padding: 20px;
}
.left-wrp-main h1 {
  font: normal normal 800 20px/24px Inter;
  letter-spacing: 0.5px;
  color: #1c1c1c;
}
.left-wrp-main p {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.43px;
  color: #ffbb1c;
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
  flex: 1 1 auto;
  background: #fff !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important;
}
.nav-fill .nav-item,
.nav-fill > .nav-link {
  flex: none !important;
  background: #fff !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important;
}
.tab-wrapper {
  width: 665px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  margin-top: 25px;
  overflow: hidden;
  /* width: fit-content; */
}
.tabTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.tabTitle img {
  width: 32px;
  height: 28px;
}
.left-wrp-main .nav-link {
  font: normal normal 600 10px/14px Poppins;
  letter-spacing: 0.85px;
  color: #c2c2c2 !important;
}
.left-wrp-main .nav-link:focus,
.nav-link:active {
  font: normal normal 600 10px/13px Poppins;
  letter-spacing: 0.85px;
  color: #1c1c1c !important;
}
.left-wrp-main .nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 131px;
  height: 125px;
}
.left-wrp-main .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 0px 10px #00000029 !important;
  border: 2px solid #ffbb1c !important;
  border-radius: 0px !important;
}
.question-header {
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0.43px;
  color: #013a67;
}
.main-container-hvac {
  background-color: #fff;
  padding-top: 45px;
  padding: 45px 20px;
}

.mainQuestionWrp {
  display: flex;
  gap: 12px;
}
.questionWrp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}
.radio-items {
  display: flex;
  gap: 48px;
  align-items: center;
}
.radio-items .form-one label {
  font: normal normal 500 14px/21px Poppins;
  letter-spacing: 0.43px;
  color: #013a67;
}
.horizontalLine {
  border: 1px solid #dcdcdc;
  margin: 36px 0 25px 0;
}
.hvac-Drop-down {
  display: flex;
  align-items: center;
  gap: 50px;
}
.ventilation {
  padding-bottom: 0 !important;
}
.hvac-input .temp input {
  width: 243px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  text-align: end;
  padding: 0 12px;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.5px;
  color: #8d8d8d;
}
.hvac-input .temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.hvac-input .temp .cel {
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0.5px;
  color: #ffbb1c;
}
.rc-steps-vertical {
  margin-right: 16px !important;
}
.rc-steps-item-title {
  padding-right: 15px !important;
}
.rc-steps-vertical .rc-steps-item-tail {
  left: 9px !important;
}
.hvac-rotet {
  position: fixed !important;
  margin-left: auto;
  right: 20px !important;
}
.hvac-rotet p.rotet {
  top: 56px;
}
.showDetailsWrp {
  position: sticky;
  width: 297px;
  height: 306px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f1;
  border-radius: 0px 0px 0px 4px;
  padding: 10px 12px;
  overflow-y: scroll;
}
.showDetailsWrp::-webkit-scrollbar {
  width: 9px;
  height: 10px !important;
}
.showDetailsWrp::-webkit-scrollbar-thumb {
  border: 1px solid #dcdcdc;
  background: #f1f1f1;
  border-radius: 16px;
  max-height: 10px !important;
}
.showDetailsWrp .main-table {
  border: none;
  border-radius: 0px;
  padding-bottom: 0px;
}
.showDetailsWrp .main-table .main-title {
  font: normal normal 600 14px/22px Poppins;
  letter-spacing: 0.43px;
  color: #ffbb1c;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  padding: 0;
}
.showDetailsWrp .main-table .sub-title {
  font: normal normal 600 12px/22px Poppins;
  letter-spacing: 0.37px;
  color: #ffbb1c;
  padding: 0;
}
.showDetailsWrp .main-table .itemsData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.showDetailsWrp .main-table .horizontalLine {
  border: 1px solid #dcdcdc;
  margin: 25px 0 10px;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items {
  padding: 0;
  gap: 13px;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items .items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items .items .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items .items .info span {
  background: #dcdcdc 0% 0% no-repeat padding-box;
  border: 1px solid #dcdcdc;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 2px;
  height: 12px;
  font: normal normal 500 9px/13px Poppins;
  letter-spacing: 0.28px;
  color: #013a67;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items .items p {
  font: normal normal 600 10px/22px Poppins;
  letter-spacing: 0.31px;
  color: #013a67;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items .items select {
  width: 146px;
  height: 40px;
  border: 1px solid #013a67;
  border-radius: 4px;
  min-width: 146px;
}
.showDetailsWrp .main-table .itemsData .items-row .diff-items {
  display: flex;
  align-items: center;
  gap: 10px;
}
.showDetailsWrp .main-table .itemsData .items-row .diff-items .title {
  font: normal normal 600 10px/22px Poppins;
  letter-spacing: 0.31px;
  color: #013a67;
  max-width: 153px;
  word-wrap: break-word;
}
.showDetailsWrp .main-table .itemsData .items-row .diff-items span {
  font: normal normal 600 10px/22px Poppins;
  letter-spacing: 0.31px;
  color: #ffbb1c;
}
.showDetailsWrp .main-table .itemsData .items-row .diff-items input {
  width: 58px;
  height: 40px;
  border: 1px solid #013a67;
  border-radius: 4px;
  font: normal normal 600 12px/18px Poppins;
  letter-spacing: 0.37px;
  color: #013a67;
  text-align: end;
  padding: 6px;
}
.showDetailsWrp .main-table .itemsData .items-row .sub-items .items input {
  width: 96px;
  height: 40px;
  border: 1px solid #013a67;
  border-radius: 4px;
  min-width: 96px;
  text-align: end;
}
.showDetails-image {
  position: fixed;
  bottom: 0px;
  right: 19px;
}
.showDetails-image img {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 285px;
  height: 180px;
}
.showDetails-image .nextBtn {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}
