.left-wrp-main {
  width: 740px;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  padding: 25px;
}
.left-wrp-main h1 {
  font: normal normal 800 20px/24px Inter;
  letter-spacing: 0.5px;
  color: #1c1c1c;
}
.left-wrp-main p {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.43px;
  color: #ffbb1c;
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
  flex: 1 1 auto;
  background: #fff !important;
  text-align: center !important;
  border: 1px solid #dee2e6 !important;
}
.tab-wrapper {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  margin-top: 25px;
  overflow: hidden;
  width: fit-content;
}
.tabTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.tabTitle img {
  width: 32px;
  height: 28px;
}
.left-wrp-main .nav-link {
  font: normal normal 600 10px/14px Poppins;
  letter-spacing: 0.85px;
  color: #c2c2c2 !important;
}
.left-wrp-main .nav-link:focus,
.nav-link:active {
  font: normal normal 600 10px/13px Poppins;
  letter-spacing: 0.85px;
  color: #1c1c1c !important;
}
.left-wrp-main .nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 135px !important;
  height: 125px !important;
}
.left-wrp-main .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 0px 10px #00000029 !important;
  border: 2px solid #ffbb1c !important;
  border-radius: 0px !important;
}
.question-header {
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0.43px;
  color: #013a67;
}
.main-container {
  background-color: #fff;
}
.heatingWrp {
  padding: 42px 26px 0 26px;
}
.questionWrp {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.radio-items {
  display: flex;
  gap: 48px;
  align-items: center;
}
.radio-items .form-one label {
  font: normal normal 500 14px/21px Poppins;
  letter-spacing: 0.43px;
  color: #013a67;
}
.horizontalLine {
  border: 1px solid #dcdcdc;
}
.hvac-Drop-down {
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  gap: 83px;
}
.ventilation {
  padding-bottom: 0 !important;
}
.hvac-input .temp input {
  width: 243px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  text-align: end;
  padding: 0 12px;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.5px;
  color: #8d8d8d;
}
.hvac-input .temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.hvac-input .temp .cel {
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0.5px;
  color: #ffbb1c;
}
